<div class="slider-wrap">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<picture>
					<source class="lazyload swiper-slide__item" type="image/webp" data-srcset="img/sliders/slide-item-1.webp">
					<img class="lazyload swiper-slide__item" alt="Слайд #1" data-src="img/sliders/slide-item-1.jpg">
				</picture>
			</div>
			<div class="swiper-slide">
				<picture>
					<source class="lazyload swiper-slide__item" type="image/webp" data-srcset="img/sliders/slide-item-2.webp">
					<img class="lazyload swiper-slide__item" alt="Слайд #2" data-src="img/sliders/slide-item-2.jpg">
				</picture>
			</div>
			<div class="swiper-slide">
				<picture>
					<source class="lazyload swiper-slide__item" type="image/webp" data-srcset="img/sliders/slide-item-3.webp">
					<img class="lazyload swiper-slide__item" alt="Слайд #3" data-src="img/sliders/slide-item-3.jpg">
				</picture>
			</div>
		</div>
		<div class="swiper-btn swiper-btn--prev"></div>
		<div class="swiper-btn swiper-btn--next"></div>
	</div>
</div>