// * Максимальная и минимальная ширина макета
$container-width: 1400;
$mobile-width: 420;

:root {
	// * Цвета
	--dark-color: #000;
	--light-color: #fff;
	--bg-color: #181818;
	--accent-color: #e98074;
	--error-color: #f06464;
	--main-text-color: #fafafa;

	// * Шрифты
	--font-main: 'Unbounded', sans-serif;
	--line-height: 120%;

	// * Визуал
	--time: 0.2s;
	--radius: 15px;

	// * Медиа бургера
	--mobile-width: 768;
}
