// * Максимальная ширина макета
$container-width: 1310;

:root {
	// * Colors
	--main-text-color: #444;
	--text-color: #5f5f5f;
	--second-text-color: #fff3c8;
	--bg-color: #fff3c8;
	--accent-color: #e98074;
}
