<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link type="image/svg+xml" rel="icon" href="/favicon/favicon.svg" />

	<meta content="ie=edge" http-equiv="X-UA-Compatible" />
	<meta name="theme-color" content="#111111" />
	<title>{{ title }}</title>
	<link rel="stylesheet" href="css/critical.min.css" />
	<link rel="stylesheet" href="css/libs.min.css" />
	<link rel="stylesheet" href="css/styles.min.css" />
</head>

<body>

	<div class="site-container">
		{{> body}}
	</div>
	<script src="js/scripts.min.js"></script>

</body>

</html>