<header class="header">
	<div class="container header__container">
		<a class="header__logo logo link-reset" href="#/">
			<span class="logo__text">Anna Kessler</span>
		</a>
		<div class="header__menu menu">
			<button class="menu__burger burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="#projects">Мои проекты</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>