<section class="section">
	<div class="container">
		<div class="hero">
			<div class="hero__wrap">
				<div class="hero__content">
					<h1 class="hero__title">
						Я&nbsp;фрилансер, ментор и&nbsp;<span class="underscore">Front&#8209;End</span>&nbsp;разработчик
					</h1>
					<p class="hero__text text">
						Более 5&nbsp;лет создаю сайты&nbsp;&mdash; от&nbsp;аккуратной вёрстки до&nbsp;сложных интерфейсов. Обучаю
						вёрстке
						и&nbsp;помогаю новичкам войти в&nbsp;веб-разработку без паники и&nbsp;боли.
					</p>
					<a class="hero__link link link-reset" href="https://t.me/enotstitch" target="_blank">Обсудить проект</a>
				</div>
				<div class="hero__photo">
					<img src="@img/hero/photo.webp" alt="Личное фото разработчика">
				</div>
			</div>
		</div>
	</div>
</section>