<section class="section">
	<div class="container">
		<div class="projects">
			<h2 class="title">Мои проекты</h2>

			<div class="project">
				<span class="project__num"></span>
				<div class="project__body">
					<p class="project__name text">Название проекта</p>
					<p class="project__desc text">Краткое описание что сделано и для кого.</p>
					<div class="project__tags">
						<span class="project__tag">WordPress</span>
						<span class="project__tag">ACF</span>
					</div>
				</div>
				<a class="project__link link-reset" href="/projects/slug/">
					Подробнее <span class="project__link-arrow">↗</span>
				</a>
			</div>
			<div class="project">
				<span class="project__num"></span>
				<div class="project__body">
					<p class="project__name text">Название проекта</p>
					<p class="project__desc text">Краткое описание что сделано и для кого.</p>
					<div class="project__tags">
						<span class="project__tag">WordPress</span>
						<span class="project__tag">ACF</span>
					</div>
				</div>
				<a class="project__link link-reset" href="/projects/slug/">
					Подробнее <span class="project__link-arrow">↗</span>
				</a>
			</div>
			<div class="project">
				<span class="project__num"></span>
				<div class="project__body">
					<p class="project__name text">Название проекта</p>
					<p class="project__desc text">Краткое описание что сделано и для кого.</p>
					<div class="project__tags">
						<span class="project__tag">WordPress</span>
						<span class="project__tag">ACF</span>
					</div>
				</div>
				<a class="project__link link-reset" href="/projects/slug/">
					Подробнее <span class="project__link-arrow">↗</span>
				</a>
			</div>

		</div>
	</div>
</section>